{% extends 'base.html.twig' %}

{% block title %}Newone{% endblock %}

{% block body %}
    <h1>Newone</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newone.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ newone.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ newone.date ? newone.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_newone_index') }}">back to list</a>

    <a href="{{ path('app_newone_edit', {'id': newone.id}) }}">edit</a>

    {{ include('newone/_delete_form.html.twig') }}
{% endblock %}
